/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --text-hover: #81b3d2;
  --button-first-default: #81b3d2;
  --button-first-hover: #669ec0;
  --button-first-activated: #5496bd;
  --button-second-default: #766357;
  --button-second-hover: #604e43;
  --button-second-activated: #503e33;
  --button-third-default: #81b3d2;
  --button-third-hover: #669ec0;
  --button-third-activated: #5496bd;
  --nav-default: #766357;
  --nav-hover: #81b3d2;
  --nav-focus: #000000;
  --list-item-header: #81b3d2;
  --list-item-bg: #eeeeee;
  --sorting-list-default: #81b3d2;
  --sorting-list-hover: #81b3d2;
  --sorting-list-focus: #000000;
  --sorting-list-active: #81b3d2;
  --catalog-name-hover: #81b3d2;
  --social-hover: #669ec0;
  --social-active: #5496bd;
  --toggle: #ababab;
  --basic-gray: #e5e5e5;
  --sorting-control-hover: #000000;
  --sorting-control-active: #81b3d2;
  --number-btn-grey: #a9a9a9;
  --number-btn-blue: #81b3d2;

  --special-catalog: #666666;
  --special-search: #333333;
  --special-rating: #f2f2f2;
}

/* Global */

html {
  background-color: #f2f2f2;
}

.page {
  height: 100%;
}

.wrapper {
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  filter: drop-shadow(0px 5px 15px rgba(0, 1, 1, 0.2));
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main header */

.main-nav {
  padding: 15px 73px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
}

.main-header-logo {
  order: 1;
  justify-self: center;
  position: absolute;
  left: 531px;
  top: 0;
}

.main-nav-wrapper {
  background-color: var(--basic-white);
}

.site-nav {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  width: 265px;
}

.site-nav li:nth-child(3) {
  margin-left: auto;
}

.site-nav li:first-of-type,
.site-nav li:nth-of-type(2) {
  text-align: left;
}
.site-nav li:last-of-type,
.site-nav li:nth-last-of-type(2) {
  text-align: right;
}

/* User navigation */

.site-nav a {
  color: var(--basic-black);
}

.site-nav a:hover {
  color: var(--nav-hover);
}
.site-nav a:focus {
  color: var(--nav-focus);
  opacity: 30%;
}

.site-nav a:default {
  color: var(--nav-default);
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.container-header-img {
  padding: 76px 0;
  background-color: #806969;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.container-header h1 {
  font-size: 21px;
  margin: 42px 10px;
}

.container-header p {
  line-height: 26px;
  margin: 16px 10px 51px;
}

/* Features */

.features-list {
  list-style: none;
  padding: 0;
}

.features-list-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.feature-item {
  text-align: center;
  margin: 0;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-item-left {
  display: grid;
  grid-template-columns: 400px 1fr;
  background-color: var(--list-item-header);
  color: var(--basic-white);
}

.feature-item-left p,
.feature-item-right p {
  margin: 0;
}

.feature-item-left-p,
.feature-item-right-p {
  margin: 0;
  padding-top: 23px;
}

.feature-item-left h3 {
  padding: 47px 10px 25px;
  margin: 0;
}

.feature-item-right {
  display: grid;
  grid-template-columns: 1fr 400px;
  background-color: var(--list-item-header);
  color: var(--basic-white);
}

.feature-item-right h3 {
  padding: 50px 10px 25px;
  margin: 0;
}

.feature-item img {
  display: block;
}

.feature-item-bg {
  background-color: var(--list-item-bg);
}

.feature-item .feature-item-p {
  padding: 0 10px 81px;
}

.feature-item-icon {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 25px;
}

.feature-item-p {
  margin: 0;
}

.feature-item .feature-item-icon {
  padding-top: 160px;
  position: relative;
}

.icon-left::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon/house.svg");
  background-repeat: no-repeat;
}
.icon-middle::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 162px;
  width: 75px;
  height: 70px;
  background-image: url("../img/icon/eat.svg");
  background-repeat: no-repeat;
}
.icon-right::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 168px;
  width: 64px;
  height: 77px;
  background-image: url("../img/icon/gift.svg");
  background-repeat: no-repeat;
}

.feature-item-last h3 {
  margin: 0 auto;
  padding: 47px 10px 25px;
  width: 150px;
}

.feature-item-last p {
  margin: 0;
}

.feature-item-last-p {
  margin: 0;
  padding: 23px 10px 54px;
}

/* Search */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
}

.search h3 {
  font-size: 30px;
  font-weight: 700;
}

.search-info {
  font-size: 14px;
  text-align: center;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.map {
  background-image: url("../img/map.jpg");
  display: block;
  width: 1199px;
  height: 594px;
}

.map iframe {
  border: none;
  overflow: hidden;
}

/* Main footer */

.main-footer {
  width: 100%;
  line-height: 26px;
  background-position: 0 0;
  background-repeat: repeat;
  position: absolute;
  bottom: 0;
  background-color: var(--basic-white);
  opacity: 0.9;
}

.inner-footer {
  width: 100%;
  line-height: 26px;
  background-position: 0 0;
  background-repeat: repeat;
  background-color: var(--basic-white);
}

.main-footer .container,
.inner-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 23px 0 36px;
}

.footer-contacts {
  margin: 0;
  width: 200px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding-left: 136px;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: none;
}

.footer-social {
  width: 150px;
  padding: 0;
  justify-self: center;
}

.main-footer p {
  margin: 0;
}

.footer-copyright {
  justify-self: end;
  align-self: end;
  padding-right: 131px;
}

/* Social button */

.footer-social-icon {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-icon li {
  padding-top: 13px;
}

.social-link {
  display: inline-block;
  text-align: center;
  width: 46px;
  height: 48px;
}

.social-link:hover rect,
.social-link:hover .path1 {
  fill: var(--social-hover);
}
.social-link:focus path,
.social-link:active path {
  fill: rgba(255, 255, 255, 0.3);
}
.social-link:focus rect,
.social-link:active rect,
.social-link:focus .path1,
.social-link:active .path1 {
  fill: var(--social-active);
}

.footer-copy {
  display: inline-block;
  width: 115px;
  height: 33px;
  margin: 0;
}

.footer-copy_logo {
  background-image: url(../img/logo_htmlacademy.svg);
}

.footer-copy_logo:hover {
  background-image: url(../img/logo_htmlacademy-hover.svg);
}

.footer-copy_logo:active {
  background-image: url(../img/logo_htmlacademy-active.svg);
}

/* Modal */

.popup {
  width: 568px;
  height: 86px;
  position: relative;
  margin-top: 24px;
}

.modal-button {
  width: 100%;
  height: 100%;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-second-default);
  z-index: 301;
}

.modal-button:hover {
  background-color: var(--button-second-hover);
}

.modal-button:active {
  background-color: var(--button-second-activated);
}

.modal {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-position: 0 0;
  padding: 0;
  z-index: 300;
  transition: all 2s;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

/* Modal form */

.search-form {
  margin: 0;
  padding: 55px;
}

.search-form-date {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  justify-content: space-between;
  height: 38px;
  position: relative;
}

.search-form-date label {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 36px;
  font-weight: bold;
}

.search-form input[type="date"] {
  font: inherit;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border: none;
  width: 346px;
  height: 38px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-top: 6px;
  font: inherit;
  box-sizing: border-box;
}

.search-form-appointment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: auto;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  height: 38px;
  position: relative;
}

.search-form-type {
  display: flex;
  width: 25%;
  margin-top: 0;
  margin-bottom: 0;
}

.search-form-appointment label {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 36px;
  vertical-align: middle;
  font-weight: 700;
  margin-left: 53px;
  margin: 0;
}

.search-form-appointment label[for="appointment-child"] {
  margin-left: 50px;
}

.search-form-appointment input {
  width: 38px;
  height: 38px;
  border: none;
  box-sizing: border-box;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.appointment-input {
  display: flex;
}

.btn-minus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
}

.btn-minus-ico {
  fill: var(--number-btn-grey);
}

.btn-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
}

.btn-plus-ico {
  fill: var(--number-btn-grey);
}

.btn-minus:hover .btn-minus-ico,
.btn-plus:hover .btn-plus-ico {
  fill: var(--basic-black);
}

.btn-minus:active .btn-minus-ico,
.btn-plus:active .btn-plus-ico {
  fill: var(--number-btn-blue);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="number"]:hover {
  background: #ebebeb;
}

input[type="number"]:focus {
  background: #ffffff;
  border: 2px solid #e5e5e5;
}

input[type="date"] {
  background: #f2f2f2 url(../img/calendar.png) 97% 50% no-repeat;
  background-size: 21px;
}

input[type="date"]:hover {
  background: #ebebeb url(../img/calendar-hover.png) 97% 50% no-repeat;
  background-size: 21px;
}

input[type="date"]:focus {
  background: #ffffff url(../img/calendar-active.png) 97% 50% no-repeat;
  background-size: 21px;
  border: 2px solid #e5e5e5;
  outline: none;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.search-button {
  width: 458px;
  height: 58px;
  background-color: var(--button-first-default);
  justify-self: center;
}

.search-button:hover {
  background-color: var(--button-first-hover);
}

.search-button:active {
  background-color: var(--button-first-activated);
}

/* Filters */

.filter {
  height: 217px;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: #806969;
  background-image: url("../img/search-bg.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  margin-bottom: 29px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-list {
  list-style: none;
  line-height: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fieldset:nth-child(2) {
  padding-left: 117px;
}

.filter-list label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

  left: 41px;
  margin-top: 20px;
}

.filter-checkbox-on + label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 0;
  width: 26px;
  height: 23px;
  background-image: url("../img/icon/checkbox-on.svg");
  background-position: 0 0;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon/checkbox-off.svg");
  border-radius: 3px;
}

.filter-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/icon/checkbox-on.svg");
  background-position: 0 0;
}

.filter-checkbox:disabled:checked + label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/icon/checkbox-on-disabled.svg");
  background-position: 0 0;
}

.filter-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon/checkbox-off-disabled.svg");
  background-position: 0 0;
}

.filter h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin: 0;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 54px 485px 1fr;
  padding: 26px 73px 31px 72px;
}

.filter-item {
  position: relative;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 4px;
  margin-left: 27px;
  border: none;
  width: 317px;
  justify-self: end;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 9px;
}

.range-controls {
  position: relative;
  height: 10px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 0;
  padding-top: 20px;
  border-radius: 2px;
}

.range-controls .scale {
  width: 316px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle);
  cursor: pointer;
}

.toggle:hover {
  position: absolute;
  top: 10px;
  left: 0;
  width: 7px;
  height: 7px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 244px;
}

.price-controls {
  display: flex;
  justify-content: space-around;
  width: 313px;
  height: 34px;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
}

.price-controls::before {
  content: "";
  position: absolute;
  left: 157px;
  top: 7px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.price-controls input {
  font-size: inherit;
  width: 60px;
  color: var(--basic-white);
  border-radius: 2px;
  background-color: transparent;
  border: none;
}

.price-controls input[type="number"] {
  border: none;
  background-color: transparent;
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.min-price,
.max-price {
  padding-top: 7px;
  padding-left: 40px;
}

.filter-item-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 137px;
  height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-image: none;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  vertical-align: middle;
  margin-left: 27%;
  bottom: -20px;
  font-family: inherit;
}

.filter-item-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* Catalog */

.sorting {
  font-size: 12px;
  line-height: 18px;
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  margin: 0;
  padding: 0 73px 31px;
}

.sorting h3 {
  width: 117px;
  justify-self: start;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  padding-right: 46px;
  margin: 0;
}

.sorting-paragraph {
  line-height: 18px;
  margin: 0;
  padding-right: 40px;
}

.sorting-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-list .sorting-list-active {
  color: var(--sorting-list-active);
}

.sorting-list a {
  color: var(--basic-black);
  opacity: 30%;
  padding-right: 32px;
}

.sorting-list a:hover {
  color: var(--sorting-list-hover);
  opacity: 100%;
}
.sorting-list a:focus {
  color: var(--sorting-list-focus);
  opacity: 100%;
}

.sorting-list a:default {
  color: var(--sorting-list-default);
  opacity: 100%;
}

.sorting-list-control {
  display: flex;
  width: 34px;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.sorting-list-control a:hover path {
  fill: var(--sorting-control-hover);
}
.sorting-list-control a:focus path,
.sorting-list-control a:active path {
  fill: var(--sorting-control-active);
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: grid;
  grid-template-columns: 135px 1fr;
  column-gap: 29px;
  padding: 23px 73px 30px;
  border-top: var(--basic-gray) solid 1px;
}

.catalog-item:last-of-type {
  border-bottom: var(--basic-gray) solid 1px;
}

.catalog-item p {
  margin: 0;
  padding: 0;
  padding-top: 7px;
}

.catalog-item img {
  display: block;
}

.catalog-item-info {
  display: flex;
  justify-content: space-between;
}

.catalog-item-spec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-item-type {
  display: flex;
  justify-content: flex-start;
}

.catalog-item-type p {
  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-right: 6px;
  width: 110px;
}

.catalog-item-spec h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.catalog-item-name {
  color: var(--basic-black);
}

.catalog-item-name:hover {
  color: var(--catalog-name-hover);
}
.catalog-item-name:focus {
  color: var(--basic-black);
  opacity: 30%;
}

.catalog-item-rating {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  color: var(--special-catalog);
}

.catalog-item-rating p:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--special-rating);
  width: 110px;
  height: 27px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.rating-star {
  margin: 0;
  padding: 0;
  align-self: flex-end;
  height: 17px;
  background: url("../img/icon/star.svg") space;
}

.rating-star-four {
  width: 91px;
}
.rating-star-three {
  width: 67px;
}
.rating-star-two {
  width: 43px;
}

.catalog-item-button {
  display: flex;
  flex-direction: row;
}

.details-button {
  background-color: var(--button-third-default);
  font-size: 14px;
  margin-top: 15px;
  margin-right: 6px;
  padding: 3px 16px 3px 17px;
  font-weight: 700;
}

.details-button:hover {
  background-color: var(--button-third-hover);
}

.details-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--button-third-activated);
}

.reservation-button {
  width: 142px;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
  font-weight: 700;
  background-color: var(--button-second-default);
}

.reservation-button:hover {
  background-color: var(--button-second-hover);
}

.reservation-button:active {
  background-color: var(--button-second-activated);
}
